Flask==3.0.0
Flask-Cors==4.0.0
--index-url https://download.pytorch.org/whl/cpu
torch==2.1.2
torchvision==0.16.2
mediapipe==0.10.11
opencv-python-headless==4.8.1.78
numpy==1.26.2
gunicorn==21.2.0
huggingface_hub==0.20.2
